*{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    gap: 20px;
}

 #radha{
    font-family: monospace;
    /* width: 30%; */
    color: yellowgreen;    
    /* text-align: center; */
}

button{
  background-color: #04AA6D; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
}

@media only screen and (max-width: 600px) {
    .btns{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
}